@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #060513;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #090b20;
  opacity: .5;
}

::-webkit-scrollbar-thumb {
  background: #1561f0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c50ce;
}